/* js-draw overrides */
:root .imageEditorContainer {
    --primary-action-foreground-color: #2f72dc;
}

:root .toolbar-grid-selector>div {
    --button-size: 38px;
}

:root .toolbar-edge-toolbar {
    --toolbar-button-height: 42px;
    position:fixed;
    top: 0;
}

:root .toolbar-edgemenu-container .toolbar-edgemenu {
    width: min(360px, 100vw);
}

:root .toolbar-edge-toolbar .toolbar-toolContainer>.toolbar-button.has-dropdown {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 0px;
}

:root .color-input-container>.color-input-wrapper {
    padding: 2px;
}

:root .toolbar-edgemenu-container .toolbar-edgemenu input.coloris_input {
    width: 30px;
}

:root .toolbar-edgemenu-container button {
    font-size: 1.1em;
}
:root .color-input-container>.color-input-wrapper .clr-field button {
    font-size: 1.5em;
}
:root .toolbar-element .toolbar-help-overlay-button>.button {
    font-size: 1.3em;
    box-sizing: border-box;
    display: flex;
}
:root .toolbar-element .toolbar-help-overlay-button>.button>.icon {
    width: 1.4em;
    height: 1.4em;
}
:root .toolbar-edgemenu-container .toolbar-edgemenu .toolbar-spacedList {
    --align-items-to-x: 75px;
}
:root .toolbar-edgemenu-container .toolbar-edgemenu .toolbar-spacedList>div>label {
    font-size: 0.9em;
    padding-right: 0;
}

:root .toolbar--pen-tool-toggle-buttons.toolbar--pen-tool-toggle-buttons {
    padding-inline: 10px;
}

:root .toolbar--pen-tool-toggle-buttons.toolbar--pen-tool-toggle-buttons>button.toolbar--toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
:root .toolbar-edgemenu-container .toolbar-edgemenu .toolbar-spacedList>.toolbar-thicknessSliderContainer {
    padding-right: 10px;
}
:root .toolbar-grid-selector .choice-button {
    margin-inline: 5px;
}
:root .toolbar-grid-selector .choice-button:first-child {
    margin-left: 0;
}
:root .toolbar-grid-selector .choice-button:last-child {
    margin-right: 0;
}
:root .toolbar-edgemenu-container .toolbar-edgemenu .toolbar-spacedList>div>input[type=text],
:root .toolbar-edgemenu-container .toolbar-edgemenu .toolbar-spacedList>div>input[type=number],
:root .toolbar-edgemenu-container .toolbar-edgemenu .toolbar-spacedList>div>select {
    height: 36px;
    padding-inline: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
:root .toolbar-edgemenu-container .toolbar-edgemenu .toolbar-spacedList>div>select {
    padding-inline: 2px;
    width: 100%;
}